// This file acts as the middle man between partial.sass files and layout.sass files
@import '0-partials/partials-dir'
// Uncomment to add layout files..
// @import '1-layouts/layouts-dir'

// Or, you can just use this as your main sass file
*
  margin: 0
  padding: 0

h1
    background: #333

#big-container
  height: 100vh
  min-width: 100%
  background-image: url(../img-container.jpg)
  background-size: cover
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

#drop-container
  height: 250px
  width: 600px
  min-width: 600px
  background-color: rgba(255, 255, 255, 0.05)
  display: flex
  justify-content: center
  align-items: center
  border-bottom: 1px solid #FF5733

  span
    color: #fff
    font-family: 'Raleway', sans-serif
    font-size: 20px

#buttons-part
  height: 75px
  width: 600px
  min-width: 600px
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center

  input#submit
    color: #fff
    background-color: #030408
    width: auto
    padding: 9px 22px
    border: none
    text-decoration: none
    cursor: pointer
    font-size: 17px
    border-bottom: 1px solid #0037DA

  input#choose-file
    background: none
    border: none
    color: #fff
    font-size: 15px
    border-bottom: 1px solid #B31818
    width: 240px

#url
  border: none
  outline: none
  background-color: rgba(0, 0, 0, 0.5)
  margin-bottom: 10px
  color: rgba(255, 255, 255, 0.7)
  padding: 8px 18px

  &:focus
    outline: 1px solid #0037DA
