footer
    #link-icons
        i.fa.fa-envelope-o.fa-lg(aria-hidden='true')
        i.fa.fa-facebook.fa-lg(aria-hidden='true')
        i.fa.fa-twitter.fa-lg(aria-hidden='true')
        i.fa.fa-dribbble.fa-lg(aria-hidden='true')
        i.fa.fa-behance.fa-lg(aria-hidden='true')
    .copyright &copy; 2017 BrandName. All rights reserved.