header
    nav
        ul.left
            li
                img(src="", alt="")
            li.logo
                i(class="fa fa-camera-retro fa-2x" aria-hidden="true")
                h1
                    | img
                    span.highlight up

        ul.right
            li
                a.signin-btn Sign in
            li
                img(src="", alt="")
                a.signup-btn Sign up

                