#signup-modal.modal
    .modal-content
        span.close &times;
        form.sign-up-form(action='/signup_page.php')
            label Sign up!
            |  
            label(for='username') Username
            |  
            input#fname(type='text', name='username', placeholder='Username..')
            |  
            label(for='email') Email
            |  
            input#lname(type='email', name='email', placeholder='Email..')
            |  
            label(for='password') Password
            |  
            input#lname(type='password', name='password', placeholder='Password..')
            |  
            input.submit-btn(type='submit', value='Sign Up')

#signin-modal.modal
    .modal-content
        span.close &times;
        form.sign-in-form(action='/signin_page.php')
            label Sign In
            |  
            label(for='username') Username
            |  
            input#fname(type='text', name='username', placeholder='Username..')
            |  
            label(for='password') Password
            |  
            input#lname(type='email', name='email', placeholder='Email..')
            |  
            input.submit-btn(type='submit', value='Sign In')