doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        //- FontawesomeIcons - Remove if not needed
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
        link(rel='stylesheet', href='main.css')
        link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
        title Img uploader
    body
        //- To include pug files use this syntax
        //- include foldername/filename without add '.pug' to the end
        //- place it where the code would normally begin. 
        include includes/header
        
        #big-container
          #navigation
            if !currentUser
              .options
                .opt1
                  a.login(href="/login") Login
                  .hoverstate
                .opt2
                  a.login(href="/register") Register
                  .hoverstate
            else
              .options
                .opt1
                  a.login(href="/dashboard") Dashboard 
                  .hoverstate
                .opt2
                  a.login(href="/logout") Logout
                  .hoverstate
              
          #copy-alert
            p Url copied
          #drop-container
            span drop the image here
          form#buttons-part(method='POST' enctype='multipart/form-data')
            #inputplace
              input(type='file' name='file')#choose-file
              input(type='submit' name='submit' value='submit')#submit
            #urlacopy 
              input#url(type="text", name="imageUrl", placeholder="Link's going to show here")
              button#copy Copy the url

        //- include script
        script(src='generateURL.js')
        //- jQuery
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js')
        
