doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        //- FontawesomeIcons - Remove if not needed
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
        link(rel='stylesheet', href='css/main.css')
        title imgup
    body
        //- To include pug files use this syntax
        //- include foldername/filename without add '.pug' to the end
        //- place it where the code would normally begin. 
        include includes/header
        section
            h1 This is an example
            //- remove these if you get the point lol. 
            include includes/h2-example

            ul
                li
                    a example
                li
                    a example

        //- include script
        script(src='js/generateURL.js')
        //- jQuery
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js')
        