doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        //- FontawesomeIcons - Remove if not needed
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
        link(rel='stylesheet', href='main.css')
        link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
        title Img uploader
    body
        //- To include pug files use this syntax
        //- include foldername/filename without add '.pug' to the end
        //- place it where the code would normally begin. 
        include includes/header
        
        #big-container
          input#url(type="text", placeholder="")
          #drop-container
            span drop the image here
          form#buttons-part(method='post')
            button#chose-file Chose file  
            button#submit Submit

        //- include script
        script(src='generateURL.js')
        //- jQuery
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js')
        
