<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Image Uploader | Login</title>

    <link href="login.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  </head>
  <body>

    <div id="big-container">

      <div id="goback">

        <a href="/"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>

      </div>



      <form action="/login" method="POST" autocomplete="off">
        <div class="log-part">

          <span>Username</span>
          <input class="fill-need" type="text" name="username">

        </div>

        <div class="log-part">

          <span>Password</span>
          <input class="fill-need" type="password" name="password">

        </div>

        <div class="sub-part">

          <input class="push-need" type="submit" Value="Login">
          <a href="/register">No account? Register here</a>

        </div>

      </form>

    </div>
  </body>
</html>
